.portfolio__container {
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
  display: grid;
}
.portfolio__h1 {
  color: var(--color-primary);
}
.portfolio__h5 {
  padding-bottom: 30px;
}
.portfolio__item {
  background: var(--color-primary-variant);
  padding: 1.3rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}
.portfolio__item:hover {
  border-color: var(--color-primary-varient);
  background: transparent;
  scale: 0.95;
  box-shadow: 0px 4px 8px #4db5ff;
}
.portfolio__item-image {
  border-radius: 1rem;
  overflow: hidden;
}
.portfolio__item h3 {
  margin: 1.2rem 0 2rem;
}
.portfolio__item-cta {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}
/* media queries */

@media screen and (max-width: 1024px) {
  .portfolio__container {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .portfolio__container {
    grid-template-columns: 1fr;
    gap: 1rem;
    padding-left: 15px;
    padding-right: 15px;
  }
}
