
.about__section{
  height: 100vh;
}
.about__h1 {
  color: var(--color-primary);
  padding-bottom: 2.5rem;
  font-size: 2rem;
}

.about__arrow1 {
  font-size: 7rem;
  color: var(--color-primary);
  margin-top: -2.6rem;
}

.about__para{
  display: flex;
  justify-content: flex-start;
  font-size: 1.2rem;
}

@media screen and (max-width: 600px) {
  .about__h1 {
    font-size: 1.5rem;
  }
  .about__para{
    font-size: 1rem;
  }
  .about__content{
    margin-left: 25px;
    margin-right: 25px;
  }
  .about__section{
    height: auto;
  }
  .about__arrow1 {
    display: none;
   
  }
}

@media screen and (max-width: 400px){
  .about__section{ 
    height: auto;
  }
  .about__arrow1 {
    display: none;
   
  }
}