.exp__h1 {
  color: var(--color-primary);
  font-size: 35px;
}
.exp__headings {
  display: flex;
  justify-content: space-between;
}
.experience__head1 {
  margin-top: 15px;
  border-radius: 0 0 2rem 2rem;
  border: 1px solid var(--color-primary);
  background: var(--color-bg-variant);
  height: fit-content;
  transition: var(--transition);
}
.experience__head1:hover{
  border-color: var(--color-primary-varient);
  background: transparent;
  box-shadow: 0px 4px 8px #4db5ff;
}
.experience__head2 {
  margin-top: 25px;
  border-radius: 0 0 2rem 2rem;
  border: 1px solid var(--color-primary);
  background: var(--color-bg-variant);
}
.experience__head2:hover{
  border-color: var(--color-primary-varient);
  background: transparent;
  box-shadow: 0px 4px 8px #4db5ff;
}
.experience__container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 25px;
  padding-left: 10px;
  padding-right: 10px;
}

.experience__overall {
  background: var(--color-primary);
  padding: 1rem;
  border-radius: 0 0 2rem 2rem;
  box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.1);
}
.experience__head1 li {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.8rem;
}
.experience__head2 li {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.8rem;
}
.experience__pointicon {
  color: var(--color-primary);
  margin-top: 2px;
}
.experience__para {
  font-size: 1rem;
}
.experience__ul {
  padding: 0.8rem;
}
